.post-link {
	color: #fff;
	img {
		display: block;
		margin:0 auto;
		border: 15px solid #fff;
		border-radius: 2px;
	}
	&:hover {
		color: $brand-color;
		text-decoration: none;
	}
} 


.work .post-content p:first-child {
	margin-bottom: $spacing-unit
}

.p-overlay-on #container {
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	overflow: hidden;
 	z-index: -1;
 	-webkit-filter: saturate(10%);
 	filter: saturate(10%);
}

.p-overlay {
 	display: none;
 	position: absolute;
 	z-index: 3000;
 	top: 0; left: 0;
 	width: 100%;
 	height: auto;
 	min-height: 100%;
 	overflow: auto;
 	background: none;
	}

.button.back {
	display: inline-block;
	background: #5CBDB5;
	margin-left: 34px;
	margin-top:20px;
    border-width: 0;
    line-height: 70px;
    width: 70px;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    float: right;
}

.button.back:before {
	display: inline;
	content: "\f00d";
	font-size: 1em;
	font-family: FontAwesome;
    font-weight: normal;
    text-align: left;
    font-style: normal;
    text-decoration: inherit;
}

.close_project {
	font-size: 100px;
	color:#00AFA0;
}
.close_project:before {
	display: inline;
	content: "\f00d";
	font-size: 16px;
	font-family: FontAwesome;
    font-weight: normal;
    text-align: left;
    font-style: normal;
    text-decoration: inherit;
}
.close_project:hover {
	text-decoration: none;
}

.project-thumb-title {
	font-size: 18px;
	margin-top: 1em;
	margin-bottom: 2em;
	text-shadow: 1px 1px 1px #111;
}

.intro {
	color: #fff;
	@at-root p#{&} {
		margin-bottom: 2em;
	}
}

.container {
	&.works, &.page {
		background: #fff;
	}
	&.center {
		position: absolute;
		 left: 50%;
		 top: 50%;
		 transform: translate(-50%, -50%); /* Yep! */
	}
}