---
layout: work
---
<article class="post work" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
  	<div class="row">
	  	<div class="col-md-10">
	    	<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	    	<p class="lead">{{page.tagline}}</p>
	    </div>
	    <div class="col-md-2">
	    	<a class="button back" href="#"></a>
	    </div>
    </div>
    <hr />
    <div class="row">
	    <div class="col-sm-12 col-md-4">
	    	<p><strong>Servicii</strong><br />
	    	{% for serviciu in page.servicii %}
	    		{% if forloop.last %}
	    			<span>{{ serviciu }} </span>
	    		{% else %}
	    			<span>{{ serviciu }}, </span>
	    		{% endif %}
	    	{% endfor %}
	    	</p>
	    </div>
	    <div class="col-sm-12 col-md-4">
	    	<p><strong>Client</strong><br />{{page.client}}</p>
	    </div>
	    <div class="col-sm-12 col-md-4">
	    	<p><strong>URL Proiect</strong><br /><a href="{{page.link}}" title="{{page.title}} - {{page.tagline}}" target="_blank">{{page.nice_url}}</a></p>
	    </div>
	</div>
	<hr />
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ page.description | markdownify }}
    <img src="{{ page.image.url }}" alt="{{ page.image.alt }}" title="{{ page.image.title }}" class="mb-xs">
  </div>

</article>
